.container {
    padding-top: 1.5em;
}

.well {
    height: 150px;
    opacity: .5;
}

.well-success {
    background-color: #449D44;
}

.well-info {
    background-color: #31B0D5;
}

.well-warning {
    background-color: #EC971F;
}

.well-danger {
    background-color: #C9302C;
}

.panel-heading {
    text-align: center;
    font-size: 1.3em;
}

.panel-danger > .panel-body {
    background-color: #F2DEDE;
}
